.chatPanel {
  bottom: var(--navigationMenu-height);
  display: flex;
  height: var(--chatPanel-height);
  left: 0;
  padding: 2px; /* No padding at the bottom, because messenger already has padding */
  position: absolute;
  right: 0;
  background-color: #122932;
}

.chatPanelOff {
  display: flex;
  left: 0;
  padding: 5px 5px 0 5px; /* No padding at the bottom, because messenger already has padding */
  position: absolute;
  right: 0;
  bottom: var(--navigationMenu-height);
  height: 230px;
  padding:  5px;
  height:  80%;
  top:  var(--topPanel-height);
  background-color: var(--chatPanel-background-color);
}

@media screen and (min-width: 640px) {
  .chatPanel {
    bottom: var(--navigationMenu-height);
    height: auto;
    left: auto;
    right: 0;
    padding: 10px 10px 10px 0; /* No padding to the left, because messenger already has padding */
    top: var(--topPanel-height);
    width: var(--chatPanel-width);
    background-color: var(--chatPanel-background-color);
  }
  .chatPanelOff {
    bottom: var(--navigationMenu-height);
    height: auto;
    left: auto;
    right: 0;
    padding: 10px 10px 10px 0; /* No padding to the left, because messenger already has padding */
    top: var(--topPanel-height);
    width:  100%;
  }
}

.chatContainer {
  background-color: var(--chatContainer-background-color);
  display: flex;
  flex: 1;
  padding: 10px 4px; /* Some extra padding so that the msgerChat scrollbar doesn't cover the rounded corners */
}

.chatContainerOff {
  display: flex;
  flex: 1;
  padding: 10px 4px; /* Some extra padding so that the msgerChat scrollbar doesn't cover the rounded corners */
}

.statusMessage {
  align-items: flex-end;
  display: flex;
  margin-bottom: 10px;
  margin-right: 6px; /* Extra margin to make space for the scrollbar */
}

.statusMessageText {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: oblique;
  width: 200px;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.msg,
.msgInfo {
  display: flex;
}

.msgerChat {
  flex: 1;
  overflow-y: auto;
}

.msgerChat::-webkit-scrollbar {
  width: 6px;
}

.msgerChat::-webkit-scrollbar-track {
  background: #ddd;
}

.msgerChat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  align-items: flex-end;
  margin-bottom: 10px;
  margin-right: 6px; /* Extra margin to make space for the scrollbar */
}

.msgBubble {
  border-radius: 10px;
  flex: 1;
  padding: 15px;
  position: relative;
}

.msgBubble-local {
  margin-left: 20px;
}

.msgBubble-remote {
  margin-right: 14px;
}

.msgImage {
  border-radius: 50%;
  object-fit: cover; 
  height: 45px; 
  width: 45px; 
}

.msgInfo {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msgInfoName {
  margin-right: 10px;
  font-weight: 600;
  color: #97a1a5;
}

.msgInfoRemoteName {
  margin-right: 10px;
  font-weight: 600;
  color: #cc90ae;
}

.msgInfoTime {
  font-size: 0.5em;
}

.msgText {
  width: 100%;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.local-msg .msgBubble {
  background-color: #ffffff;
  color: black;
}

.remote-msg .msgBubble {
  background: #a43a6e;
  color: white;
}

.remote-msg {
  flex-direction: row-reverse;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: lightyellow;
}
/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
}
.tri-right.left-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 22px solid;
  border-color: #fff transparent transparent transparent;
}
/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}
/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}
/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow transparent transparent lightyellow;
}
/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}
/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}
/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  /*border-color: #666 transparent transparent #666;*/
}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: #fff transparent transparent transparent;
}
/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
}
.tri-right.right-top:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0;
  bottom: auto;
  border: 20px solid;
  border-color: #a43a6e transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}